@model  List<ProyectoSimulacion1.Models.DETALLE_HORA>

@{
    ViewBag.Title = "Details";
}

<div style="padding: 8px;">
    <a type="btn" href=" @Url.Action("Index")" class="btn btn-primary col-5">Regresar&nbsp&nbsp</a>
</div>

<h2>Detalle Hora</h2>

<table class="table table-dark table-striped">
    <tr>
        <th scope="col">
            DETALLE HORA
        </th>
        <th scope="col">
            CORRELATIVO CLIENTE
        </th>
        <th scope="col">
            CANTIDAD PRODUCTOS
        </th>
        <th scope="col">
            TOTAL VENTA
        </th>
        <th scope="col">
            COD DETALLE ESCENARIO
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.COD_DETALLE_HORA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CORRELATIVO_CLIENTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CANTIDAD_PRODUCTOS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTAL_VENTA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.COD_DETALLE_ESCENARIO)
    </td>
    <td>       
        <a type="btn" href=" @Url.Action("Detalle2",new { id = item.COD_DETALLE_HORA } )" class="btn btn-success">Detalles&nbsp&nbsp</a>
    </td>
</tr>
    }

</table>



