@model IEnumerable<ProyectoSimulacion1.Models.DETALLE_ESCENARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-secondary table-striped">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.CORRELATIVO_HORA)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TOTAL_PERSONAS)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.CANTIDAD_PRODUCTOS)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TOTAL_VENTAS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CORRELATIVO_HORA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_PERSONAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD_PRODUCTOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_VENTAS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_DETALLE_ESCENARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_DETALLE_ESCENARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_DETALLE_ESCENARIO })
        </td>
    </tr>
}

</table>
